/* for mobile devices  */

@media screen and (max-width: 576px) {
  .hide {
    display: block;
  }
  h2 {
    font-size: 1.6rem;
  }

  ul {
    display: none;
  }
  .banner {
    height: 483px;
    width: 90%;
  }
  .banner h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .banner p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
  }

  .banner-selection {
    flex-direction: column;
    width: 90%;
    height: 50%;
    gap: 10px;
    padding: 20px;
  }
  .banner-selection * {
    width: 100%;
    height: 50%;
  }
  .Find i {
    height: 0;
    width: 0;
  }
  .popular {
    margin: 20px auto;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .popular-text {
    width: 100%;
  }
  .popular-text ul {
    width: 100%;
    margin-left: 20px;
  }
  .popular-img img,
  .video-text,
  .video-container {
    width: 100%;
  }
  .destination,
  .choose {
    width: 90%;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }
  .overlay {
    font-size: 1.25rem;
  }

  .destination img {
    width: 350px;
    height: 176px;
  }
  .destination-text {
    width: 100%;
    margin: 0 auto;
  }
  .main-title {
    font-size: 1.25rem;
  }
  .choose {
    margin: 20px auto;
  }
  .choosing-all {
    grid-template-columns: 1fr;
  }
  .c-three {
    margin: 0;
  }
  .newsletter {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }
  .newsletter-text {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .newsletter-text input,
  .newsletter-text button,
  hr {
    width: 90%;
  }
  .newsletter-text h3,
  .newsletter-text p {
    margin-left: 20px;
  }

  .newsletter-img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .discount {
    height: 80px;
    width: 215px;
    border-radius: 10px;
    bottom: 40px;
  }
  .discount h4 {
    font-size: 0.9rem;
  }
  .discount h3 {
    font-size: 1.3rem;
  }
  footer {
    margin-top: 250px;
    height: 310px;
  }
  .footer-text {
    width: 95%;
  }
  .footer-text hr {
    margin: 20px;
  }
  .hajj-umrah-container {
    width: 90%;
  }
  .hajj-umrah {
    flex-direction: column;
    height: auto;
    gap: 15px;
    margin-bottom: 20px;
  }
  .hajj-umrah-details {
    width: 100%;
    height: 300px;
  }
  .video {
    margin: 20px auto;
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }
  .discount-section {
    width: 90%;
    margin-bottom: 20px;
  }
  .deals-icons {
    flex-wrap: wrap;
  }
  .deals-details {
    width: 90%;
    text-align: start;
    padding: 20px;
    top: 20%;
    left: 16px;
    gap: 10px;
  }
}
