/* for mobile devices  */

@media screen and (max-width: 576px) {
  .hide {
    display: block;
  }
  h2 {
    font-size: 1.6rem;
  }

  ul {
    display: none;
  }
  .banner {
    height: 483px;
    width: 90%;
  }
  .banner h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .banner p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
  }

  .banner-selection {
    flex-direction: column;
    width: 90%;
    height: 50%;
    gap: 10px;
    padding: 20px;
  }
  .banner-selection * {
    width: 100%;
    height: 50%;
  }
  .Find i {
    height: 0;
    width: 0;
  }
  .popular {
    margin: 20px auto;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .popular-text {
    width: 100%;
  }
  .popular-text ul {
    width: 100%;
    margin-left: 20px;
  }
  .popular-img img {
    width: 100%;
  }
  .destination,
  .choose {
    width: 90%;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }

  .destination img {
    width: 350px;
    height: 176px;
  }
  .destination-text {
    width: 100%;
    margin: 0 auto;
  }
  .main-title {
    font-size: 1.25rem;
  }
  .choose {
    margin: 20px auto;
  }
  .choosing-all {
    grid-template-columns: 1fr;
  }
  .c-three {
    margin: 0;
  }
}
