* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #131318;
  --secondary-color: #424247;
  --btn-color: #ff5400;
}

/* heading section start */
p {
  color: var(--secondary-color);
}
button {
  font-size: 1.25rem;
  font-weight: 800;
}
.hide {
  display: none;
}
.header-title {
  display: flex;
  align-items: center;
}
h2 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-left: 20px;
}
.orange {
  color: var(--btn-color);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}
ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
a {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.125rem;
}
/* banner section  */
.banner {
  width: 80%;
  height: 600px;
  margin: 20px auto;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/Group\ 13\ \(1\)\ \(1\).png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}
.banner h1 {
  font-size: 4rem;
  color: white;
}
.banner p {
  color: white;
  width: 676px;
}
.banner-selection {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  height: 12%;
  width: 53%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.banner-selection * {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  padding: 10px;
  border: 0;
  color: var(--secondary-color);
  text-align: start;
}
.Find {
  background: var(--btn-color);
  color: white;
  text-align: center;
}
.Find i {
  height: 50px;
  width: 0px;
  background: transparent;
  margin-right: 10px;
  color: #fff;
}

/* heading section end */
/* main section start  */
/* popular section  */
.popular {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.popular-text {
  width: 60%;
}
.main-title {
  margin-left: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.popular-text ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  margin-left: 40px;
}
.popular-btn {
  border: 0;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  margin-top: 20px;
}

/* destination section  */
.destination {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.destination-text {
  width: 645px;
  margin: 0 auto;
}
.row {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.image-conatainer {
  position: relative;
}
.overlay {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 1.75rem;
}
/* choose section  */
.choose {
  margin: 100px auto;
  width: 80%;
  text-align: center;
}
.choosing-all {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  gap: 25px;
  margin-top: 20px;
}
.choosing-all img {
  margin-bottom: 20px;
}
.choosing-all p {
  width: 90%;
  margin-top: 20px;
}
.c-one {
  text-align: start;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.c-two {
  text-align: start;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.c-three {
  width: 100%;
  text-align: start;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  margin-left: 50%;
}

/* hajj-umrah section  */
.hajj-umrah-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hajj-umrah-head p {
  margin-top: 20px;
}
.hajj-umrah {
  width: 100%;
  height: 400px;
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  justify-content: space-between;
}
.hajj-umrah-details {
  width: 24%;
  height: 100%;
  background: green;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 10px groove;
  position: relative;
  overflow: hidden;
}
.hajj-umrah-details h3 {
  color: white;
  font-size: 1.5rem;
}
.hajj-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hajj-img img {
  height: 80%;
  width: 80%;
}
.hide-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease-in-out;
  position: absolute;
}
.hide-text p {
  color: white;
  text-align: center;
}
.hide-text button {
  border-radius: 20px;
  height: 50px;
  width: 180px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1.1rem;
}
.hajj-umrah-details:hover .hide-text {
  opacity: 1;
  visibility: visible;
  background: var(--btn-color);
  top: 0;
  left: 0;
}
/* discount section  */
.discount-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 100px;
  align-items: center;
}
.discount-section-text p {
  margin-top: 20px;
}
.deals-one {
  height: 500px;
  width: 100%;
  position: relative;
}

.deals-one img {
  width: 100%;
  height: 100%;
}
.deals-details {
  position: absolute;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 579px;
  height: 389px;
  top: 56px;
  right: 56px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: start;
}
.deals-icons {
  display: flex;
  gap: 20px;
}
.deals-icons i {
  color: var(--btn-color);
}
.left-side {
  left: 56px;
}
.deals-btn {
  width: 210px;
  height: 52px;
  border-radius: 8px;
  border: 0;
  background: var(--btn-color);
  color: white;
}
/* video section  */
.video {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
}
.video-text {
  width: 48%;
}
.video-text h2 {
  text-align: start;
  margin-bottom: 20px;
  margin-left: 0;
}
.video-text ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin: 20px 0px 50px 20px;
  font-weight: bold;
}
.similar {
  height: 52px;
  width: 174px;
  border: 0;
  border-radius: 8px;
  color: white;
  background: var(--btn-color);
}
.video-container {
  width: 48%;
  border-radius: 16px;
}

/* newsletter section  */
.newsletter {
  width: 80%;
  height: 422px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.newsletter-text {
  width: 40%;
  border: 1px solid var(--btn-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.newsletter-text h3 {
  align-self: start;
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 50px;
}
.newsletter-text p {
  align-self: start;
  margin-left: 50px;
}

.newsletter-text input,
.newsletter-text button {
  width: 83%;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
}
.newsletter-text button {
  background: var(--btn-color);
  color: white;
}
input {
  padding-left: 20px;
}
.newsletter-img {
  width: 57%;
  position: relative;
}
.newsletter-img img {
  width: 100%;
  height: 100%;
}

.discount {
  position: absolute;
  width: 300px;
  height: 130px;
  background: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  transform: rotate(-20deg);
  bottom: 45px;
  right: 10px;
}
hr {
  width: 83%;
  margin: 16px auto;
}
.discount h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
.discount h3 {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}
/* footer section start  */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 53%;
}
.footer-text p {
  text-align: center;
  margin-top: 15px;
}
.footer-icons {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.footer-icons i {
  font-size: 2rem;
}
.footer-text hr {
  width: 100%;
  margin: 50px auto;
}
